/*
@tailwind base; adds base styles to all elements:
https://tailwindcss.com/docs/preflight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --color-base: rgb(33, 37, 41);
  --color-highlight: #ff80ff;
  --text-color: #ffffff;

  --color-base-1: #080808;
  --color-base-2: #171717;
  --color-base-3: #212121;

  /* --color-base: #efefef;
  --color-highlight: #ff80ff; */
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Consolas", "Andale Mono", monospace;
  font-size: 0.9rem;
  /* background-color: var(--color-base); */
  background-color: var(--color-base-2);
  color: var(--text-color);
}

.bg-dark-1 { background-color: var(--color-base-1) !important; }
.bg-dark-2 { background-color: var(--color-base-2) !important; }
.bg-dark-3 { background-color: var(--color-base-3) !important; }